.nav1{
color:#828282 ;
text-decoration:none;
}

.nav2 {

color:#828282 ;
text-decoration:none;
float:right;
padding: 8px;

}

.img1{

    padding-top:165px ;
    padding-left:100px ;

}

.input{
width: 400px;
height:30px ;
border-radius:5px;



}